* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: #00293b;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #2280fb;
  margin-bottom: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: #5f7c9f70;
  padding: 1rem;
  border-radius: .3rem;
  margin-right: 1rem;
  color: #ffffff;
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  color: #c4c7c9;
}

#new-task-submit {
  font-size: 1.3rem;
  font-weight: 500;
  background: #003575;
  cursor: pointer;
  color: #c4c7c9;
  border-radius: .3rem;
  padding: .5rem 1rem;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  border-bottom: 5px solid #0040c0;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 600;
  color: #53b6e0;
  margin-bottom: 1.5rem;
  text-align: center;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: #1f2e41;
  padding: 1rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: #b9d7f8;
  font-size: 1.25rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: #b9d7f8;
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 700;
}

.task .actions .edit {
  color: #00b900;
  padding-right: 2rem;
  font-weight: 600;
}

.task .actions .delete {
  color: #ff2727;
  padding: 0 .5rem;
  font-weight: 600;
}
